* {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  margin: 0;
}
hr{
	border-style: none;
	border-top-style: dashed;
}
/* Styles the header and adds a background image */
#beegest{
	
	background-size:100% 100%;
	height:500px;
	background-image: url('../images/backgroundh.png');
	position:relative;
	left:0px;
	background-repeat: no-repeat;
}
/* Also styles the header but adds a different background image*/
#beegest2{
	
	background-size:100% 100%;
	height:500px;
	background-image: url('../images/backgroundh2.png');
	position:relative;
	left:0px;
	background-repeat: no-repeat;
}
/*Styles the footer*/
#header1 {
  background-color: #000000;
  padding: 20px;
  text-align: left;
  height:260px;
  color: white;
}
#header1 > div h2{
	font-family: Franklin Gothic Medium;
 }
#header1 > div > ul  li{
	font-family: Times;
	font-size: 20px;
}
/*Resizes the sources to 70% */
#header1 > #header2{
		float:left;
		width:70%
}	
#header1 > #header2 > ul {
		margin-left: -40px;
		padding-right:15px; 
		list-style:none;
}
#header1 > #header2 > ul li{
		font-family:Times;
		font-size:12px;
}
/*Resizes the About section to 30%*/
#header1 > #header3{
	float:right;
	width:30%
}	
#header1 > #header3 > p{
	font-family: Times; 
	font-size:12px;
}
/* Style the navigation bar */
.topnav {
  overflow: hidden;
  background-color: #000000;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Changes color on hover */
.topnav a:hover {
  color: white;
  text-decoration:underline;
  background-color:gray ;
}

/* Styles the content */
.column1 {
	display:block;
  float: right;
  width: 50%;
  padding: 15px;
  word-spacing:2px;
  clear:right;
  margin: 20px 10px 5px 0px;
}
div.column1 > h1, h4, p,hr{
	margin-right: 50px;
}
div.column1 > h1{
	font-size:30px;
}
div.column1 > p{
	text-indent: 20px;
}
div.column1 > h1, h4{
	font-family: Franklin Gothic Medium;
}
/*Styles the images*/
.column2{
	float:left;
	width: 45%;
	margin:20px 0px 0px ;
	border: 2px solid white;
	overflow:hidden;
	padding:15px 15px 15px 40px;
	line-height:30px;
}
/*Yes, this is a separate id for the image with a person coughing*/
#column2{
	float:left;
	width: 45%;
	margin:20px 0px 0px ;
	border: 2px solid white;
	overflow:hidden;
	padding:15px 15px 15px 40px;
	line-height:30px;;
}
#column2 > img{
	width: 95%;
}
#column3{
	float:left;
	width: 45%;
	margin:20px 0px 0px ;
	border: 2px solid white;
	overflow:hidden;
	padding:15px 15px 15px 40px;
	line-height:30px;
}	
#column3 > img{
	width:90%;
	height: 90%;
}	
#vid{
	
	width:90%;
	margin-left: 40px;
}
.iframe-container1{
	float:right;
	width:45%;
	margin-left:40px;
}	
.iframe-container2{
	width:45%;
	margin-left:40px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
div.row div>img{
	border:3px solid black; 
	padding: 5px;
	width: 100%;
	display:block; 
	margin-left:auto; 
	margin-right: auto;
}
div.row div>figcaption{
	font-style:italic; 
	text-align: center; 
	clear:left;
}
/*Styles the upper navigation bar*/
#topnav {
  background-color: #333;
  overflow:hidden;
    float:left;
  width:100%;
  height:100%;
}
#topnav a{
	  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float:right;
}
/*Styles the lower navigation bar*/
#topnav2 {
  background-color: #333;
  overflow:hidden;
    float:left;
  width:50%;
  height:100%;
}
#topnav2 a{
	  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float:left;
}
#topnav3{
	  background-color: #333;
  overflow:hidden;
    float:right;
  width:50%
}
#topnav3 a{
	  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float:right;
}
#topnav a:hover {
  color: white;
  text-decoration:underline;
}
#topnav2 a:hover{
  color: white;
  text-decoration:underline;
 } 
#topnav3 a:hover {
  color: white;
  text-decoration:underline;
} 

/* Responsive layout - fixes the layout if tab is resized */
@media screen and (max-width:1200px) {

	.row{
		margin-top:-60px;
	}  

  .column2 {
    width: 100%;
	height:100%;
	margin: 0px ;
	border-right-color: white;
  }
  #column2{
	  width:100%;
	  	border-right-color: white;
  }
   #column3{
	   width:100%;
	   	  	border-right-color: white;
	   margin-right:20px;
   }  

  .column1{
	width:100%
  }
  div.column1 > h1,h4,p,hr{
	margin: 0px 30px;
  }
  div.column1 > h4{
	margin-bottom: 10px;
  }
   .topnav a{
	clear:left;	
  } 
  #beegest{
  display:block;
	background-size:100% 80%;
	height:100%
	margin-top:0px;
	}
  #beegest2{
  display:block;
	background-size:100% 80%;
	height:100%
	margin-top:0px;
	}	
  #topnav1{
	width:100%
  }
  #topnav2{
	width:50%
  }
  #topnav3{
	width:50%
  }   
  #header1{
	width:100%;
	height:100%;
	overflow:hidden;
  }
  hr{
	margin-top:5px;
	margin-bottom:20px;
  }
  #header2 > p{
	margin-top: 10px;
  }
  #vid h2{
	  margin:0px;
	  margin-bottom:5px;
  }

  .iframe-container1{
  position: relative;
  width: 100%;
  padding-top: 56.25%; 
  height: 0;
  float:left;
  margin-left:28px;
}
  .iframe-container2{
  position: relative;
  width: 100%;
  padding-top: 56.25%; 
  height: 0;
  clear:left;
}
.iframe-container1 iframe{
  position: absolute;
  top:8%;
  left: 8%;
  width: 80%;
  height: 80%;
  margin:0
}
.iframe-container2 iframe{
  position: absolute;
  top:8%;
  left: 8%;
  width: 80%;
  height: 80%;
  
}
@media screen and (max-width:600px){
	  .iframe-container1{
  position: relative;
  width: 100%;
  padding-top: 56.25%; 
  height: 0;
  float:left;
  margin-left:28px;
}
  .iframe-container2{
  position: relative;
  width: 100%;
  padding-top: 56.25%; 
  height: 0;
  clear:left;
}
.iframe-container1 iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 80%;
  height: 80%;
  margin:0
}
.iframe-container2 iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 80%;
  height: 80%;
  
}
}
}